.picture {
	width: 80%;
	height: auto;
	position: relative;
	display: flex;
	margin: auto;
	overflow: hidden;

	box-shadow: 10px 10px 90px 0px #757456;

	&__image {
		width: 50%;
		padding-bottom: 410px;

		background-image: url("../img/picture.jpg");

		transition: 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}

	&__number {
		max-width: 20px;
		padding-left: 62px;
		margin-top: 60px;

		border-bottom: 1px solid #000;
		
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
	}

	&__text {
		margin-top: -110px;
		margin-left: -400px;
		
		color: #363636;
		font-family: 'Oswald', sans-serif;
		font-size: 50px;
		font-weight: bold;
		letter-spacing: 5px;

		transform: rotate(-90deg);
	}

	&__right {
		width: 50%;

		background-color: #c2e1dc;
	}

	&__quotes {
		padding-top: 450px;
		padding-left: 390px;

		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 5px;

		transform: rotate(-90deg);

		transition: 0.5s;

		&:hover { 
			transform: rotate(-85deg);
		}
	}

	&__quote {
		margin-top: -75px;
		padding-right: 40px;
		padding-bottom: 25px;

		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-style: italic;
		text-align: right;
		line-height: 26px;
	}

	&__main-text {
		position: absolute;
		top: -5px;
		left: 500px;

		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 47px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 30px;
		
		transition: 0.5s;

		&:hover {
			letter-spacing: 60px;
		}
	}
}